<div id="wrapper">
  <div id="leftcolumn"></div>
  <div id="content">

    <div id="top_content">
      <img src="assets/img/logo.png" class="img">
      <h2>Bienvenue sur VACATAIRE</h2>
      <h4>Connectez-vous pour continuer</h4>
    </div>

    <form [formGroup]="form" class="form_container">
      <mat-form-field appearance="outline">
        <mat-label>Identifiant</mat-label>
        <input matInput formControlName="identifiant">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" (click)="login()">Connexion</button>

    </form>
  </div>
  <div id="rightcolumn"></div>
</div>
