* { padding: 0; margin: 0; }

#wrapper {
  margin: 0 auto;
  margin-top: 5%;
  width: 922px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#leftcolumn {
  margin: 0px 5px 5px 0px;
  padding: 10px;
  height: 350px;
  width: 195px;
  float: left;
}

#top_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  float: left;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin: 0px 5px 5px 0px;
  padding: 10px;
  height: 350px;
  width: 456px;
  display: inline;
}

.img{
  width: 50px;
  height: 50px;
}

.form_container {
  display: flex;
  flex-direction: column;
}

#rightcolumn {
  margin: 0px 0px 5px 0px;
  padding: 10px;
  height: 350px;
  width: 195px;
  float: left;
}
