<div id="top_content">
  <img src="assets/img/logo.png" class="img">
  <h2>Emargement des heures</h2>
</div>

<form [formGroup]="form" class="form_container">

  <mat-form-field appearance="fill" appearance="outline">
    <mat-label>Matières</mat-label>
    <mat-select formControlName="matiere" [compareWith]="compareWith">
      <mat-option *ngFor="let matiere of matieres" [value]="matiere"
      >{{matiere.nomMatiere}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date à émarger</mat-label>
    <input matInput type="date" formControlName="date">
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Heure d'arrivée</mat-label>
    <input matInput type="time" formControlName="debut">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Heure de départ</mat-label>
    <input matInput type="time" formControlName="fin">
  </mat-form-field>

  <mat-label [class.error]="this.form?.getError('range') && (this.form.dirty || this.form.touched)">Durée : {{duree}}h
  </mat-label>

  <button mat-raised-button type="submit" color="primary" (click)="close()">Emarger</button>

</form>


