<div class="emargement_container">

  <img src="assets/img/logo.png" class="img">

  <h2>Emargement des heures</h2>

  <form class="form_container">
    <mat-form-field appearance="fill" appearance="outline">
      <mat-label>Matières</mat-label>
      <mat-select>
        <mat-option value="svt">SVT</mat-option>
        <mat-option value="pc">PC</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date à émarger</mat-label>
      <input matInput type="date" >
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Heure d'arrivée</mat-label>
      <input matInput type="time" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Heure de départ</mat-label>
      <input matInput type="time" >
    </mat-form-field>

    <mat-label>Durée</mat-label>

    <div class="buttons">
      <button mat-raised-button type="submit" color="primary">Emarger</button>
    </div>

  </form>

</div>
