<div id="wrapper">
    <div id="content">

    <div id="top_content">
      <img src="assets/img/logo.png" class="img">
      <h2>Inscription</h2>
    </div>

    <form class="form_container" [formGroup]="form">

      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName='nom' type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <input matInput formControlName='prenom' type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName='email' type="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput formControlName='numeroTel' type="tel">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Identifiant</mat-label>
        <input matInput formControlName='identifiant' type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName='password' type="password">
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>Matieres</mat-label>
        <mat-select multiple formControlName="matieres">
          <mat-option *ngFor="let matiere of matieres" [value]="matiere">{{matiere.nomMatiere}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Taux horaire</mat-label>
        <input matInput formControlName='tauxHoraire' type="number">
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" (click)="signup()">Inscription</button>

    </form>

  </div>
</div>
